.single-package {
  padding-top: 80px;
  background-color: #eee;
  .tour-info-wrapper {
    padding: 40px;
    .tour-intro {
      background-color: #fff;
      padding: 15px;
      border-radius: 7px;
      .tour-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        h3 {
          font-size: 32px;
          border-bottom: 3px solid teal;
        }
        span {
          background-color: teal;
          color: white;
          padding: 3px;
          border-radius: 5px;
          font-size: 17px;
        }
      }
      .tour-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 21px;
        img {
          margin-left: 10px;
        }
        span {
          font-size: 21px;
        }
      }
    }
    .details-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 21px 0;
      .details-item {
        width: 15%;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 12px 0;
        border: 1px solid var(--orange-color);
        border-radius: 7px;
        padding: 10px;
        span {
          font-weight: 500;
          font-size: 17px;
        }
        .icon {
          background-color: var(--orange-color);
          width: 70px;
          height: 70px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px 0;
          i {
            font-size: 40px;
            color: #fff;
          }
        }
        p {
          color: rgb(58, 57, 57);
        }
      }
    }
  }
  .more-info {
    padding: 40px;
    margin-bottom: 40px;
    background-color: white;
    .title {
      border-bottom: 3px solid teal;
      font-size: 32px;
      width: max-content;
    }
    .info {
      margin-top: 29px;
      span {
        display: block;
        font-size: 21px;
        font-weight: 500;
        color: rgb(68, 65, 65);
        position: relative;
        margin-bottom: 10px;
        &::before {
          content: "";
          position: absolute;
          right: -10px;
          top: 0;
          background-color: orange;
          width: 5px;
          height: 100%;
        }
      }
      .necessary-tools {
        font-size: 24px;
        color: #222821;
        display: flex;
        div {
          margin: 0 17px;
          i {
            margin-left: 5px;
            color: teal;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .single-package {
    .tour-info-wrapper {
      .details-wrapper {
        .details-item {
          width: 31%;
        }
      }
    }
    .more-info {
      .necessary-tools {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 781px) {
  .single-package {
    .tour-info-wrapper {
      padding: 17px;
      .tour-intro {
        padding: 7px;
      }
      .details-wrapper {
        .details-item {
          width: 49%;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .single-package {
    .tour-info-wrapper {
      .tour-intro {
        .tour-title {
          h3 {
            font-size: 27px;
          }
        }
      }
      .details-wrapper {
        justify-content: center;
        .details-item {
          width: 90%;
        }
      }
    }
  }
}
