.post-item {
  width: 100%;
  height: 230px;
  display: flex;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 17px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background-color: snow;
    .content-wrapper {
      .title {
        color: blue;
      }
    }
  }
  .img-wrapper {
    flex: 4;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-wrapper {
    flex: 8;
    padding: 7px 27px;
    .title {
      font-size: 32px;
      font-weight: 600;
      color: #221821;
    }
    p {
      font-size: 17px;
      font-weight: 300;
      color: rgb(75, 74, 74);
      margin: 10px 0;
      line-height: 1.8;
      text-align: right;
    }
    .information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 17px;
        border-top: 1px solid gray;
        padding-top: 7px;
        .author, .publish-date {
            color: #221821;
            font-size: 17px;
            font-weight: 600;
            i {
                margin-left: 5px;
                font-size: 21px;
                color: gray;
            }
        }
    }
  }
}
@media (max-width: 1200px) {
    .post-item {
      flex-direction: column;
      height: auto;
      .img-wrapper {
        img {
          height: 240px;
        }
      }
    }
}
@media (max-width: 520px) {
  .post-item {
     .content-wrapper {
       .title {
         font-size: 24px;
       }
       p {
         text-align: justify;
       }
       .information {
         .author,.publish-date {
           font-size: 15px;
         }
       }
     }
  }
}