.package-list {
  padding: 21px 40px;
  overflow-x: hidden;
  .packages-container {
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 7px;
    .package-item {
      width: 32%;
      margin-bottom: 17px;
      background-color: #fff;
      border-radius: 7px;
      overflow: hidden;
      .img-wrapper {
        overflow: hidden;
        width: 100%;
        height: 270px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .info-wrapper {
      padding: 15px;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        h6 {
          font-weight: 600;
          font-size: 21px;
        }
        span {
          font-size: 14px;
          background-color: teal;
          padding: 2px;
          color: white;
          border-radius: 4px;
        }
      }
      p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
        margin: 10px 0;
      }
      .more-details {
        background-color: var(--orange-color);
        color: #fff;
        width: 100%;
        padding: 5px;
        font-size: 21px;
        border-radius: 7px;
        cursor: pointer;
        display: block;
        text-align: center;
      }
    }
  }
}
@media (max-width: 1200px) {
  .package-list {
    .packages-container {
      .package-item {
        width: 49%;
      }
    }
  }
}
@media (max-width: 780px) {
  .package-list {
    padding: 17px;
    .packages-container {
      justify-content: center;
      padding: 10px;
      .package-item {
        width: 99%;
        margin-bottom: 30px;
      }
    }
  }
}