.sidebar {
  flex: 2;
  margin: 17px;
  h3 {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 7px;
    text-align: center;
    color: rgb(58, 57, 57);
    font-size: 24px;
  }
  .categories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    .category {
      width: 90%;
      background-color: gray;
      color: white;
      padding: 3px;
      font-size: 17px;
      margin: 7px 0;
      text-align: center;
      border-radius: 7px;
      cursor: pointer;
      &:hover {
        background-color: orange;
      }
    }
  }
}

@media (max-width: 1200px) {
  .sidebar {
    h3 {
      font-size: 21px;
    }
    .categories {
      .category {
        width: 100%;
      }
    }
  }
}
